<!-- Including the header partial, which contains common HTML code such as the <head> section -->
<%- include('partials/header') %>

<!-- Navbar -->
<nav id="navbar">
    <div id="logo">
        <img src="wealth.jpg" alt="Wealth Monitor ">
    </div>
    <div class="container">
        <ul>
            <li class="item"><a href="https://www.moneycontrol.com/">Finance News </a></li>
            <li class="item"><a href="#services-container">Analyze Portfolio</a></li>
            <li class="item"><a href="https://thegeopolitics.com/#google_vignette">Geopolitics News</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="profile-container">
            <% if (user.profile_image) { %>
                <!-- Display the user's profile image as a small round image -->
                <img src="/uploads/<%= user.profile_image %>?timestamp=<%= Date.now() %>" alt="Profile Image" class="profile-image">
            <% } else { %>
                <!-- If the user does not have a profile image, display a default avatar -->
                <img src="/uploads/default-avatar.png" alt="Default Avatar" class="profile-image">
            <% } %>
            <!-- Display the update profile link -->
            <a href="/update-profile" class="update-profile-link">Update Profile</a>
        </div>
    </div>
</nav>

<!-- Include the friend's content using an iframe -->
<div class="container mt-5">
    <iframe src="http://localhost:5000" style="width: 100%; height: 500px; border: none;"></iframe>
</div>

<%- include('partials/footer') %>
